/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.m2-repository/
.qoder/
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/signing/**/*.p12
/signing/**/*.cer
/signing/**/*.p7b
/signing/**/*.csr
/signing/**/secrets*
